<div class="new-main">
  <div class="new-content">
    <p class="page-title">
      Delete
    </p>
    <h1 class="subtitle">
      削除
    </h1>
  </div>
  <div class="wide-content-article">
    <article class="article">
      <p class="article-content">
      </p>
      <br class="clear">
      <div class="wpcf7">
        <p class="update-form">
          削除が完了しました。
        </p>
        <div class="update">
          <%= link_to "ホームへ", root_path, class: "update-form-btn" %>
        </div>
      </div>
    </article>
  </div>
</div>