<div class="main">
  <div class="main-content">
     <div class="wide-content">
      <div class="loop">
        <% @spots.each do |spot| %>
          <%= render partial: "spots/spot", locals: { spot: spot  } %>
         <% end %>
      </div>
      <%= paginate @spots %>
     </div>
  </div>
</div>
