.body {
    // background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    height: 860px;
    width: 100%;
    /* background: url(https://picsum.photos/id/1004/5616/3744) no-repeat center center #505050; */
    /* display: flex; */
    /* justify-content: center; */
}
.login {
    position: relative;
    z-index: 2;
    height: 100%;
    /* width: 88%; */
    margin: auto;
    /* padding: 50% 50%; */
    // background: url("../../videos/top-video.mp4") no-repeat center center #505050;
    background-size: cover;
    // background: url(https://picsum.photos/id/1004/5616/3744) no-repeat center center #505050;
    // background-size: cover;
    // box-shadow: 0px 30px 60px -5px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.video-content{
    position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
//  background: url('poster.jpg') no-repeat;
 background-size: cover;
 object-fit: cover;
}
form {
    padding-top: 80px;
}
h2.sign-up-title {
    border-bottom: 2px solid #fd003ab0;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
}
h2.sign-in-title {
    color: rgba(255, 255, 255, 0.4);
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    /* padding-left: 0px; */
    margin-left: 20px;
}
a.sign-in-title-btn {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
h2.sign-up-title1 {
    /* border-bottom: 2px solid #1161ed; */
    /* padding-left: 12px; */
    /* font-size: 22px; */
    /* text-transform: uppercase; */
    /* padding-bottom: 5px; */
    /* letter-spacing: 2px; */
    /* display: inline-block; */
    /* font-weight: 100; */
    color: rgba(255, 255, 255, 0.4);
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    /* padding-left: 0px; */
    margin-left: 20px;
}
h2.sign-in-title1 {
    /* color: rgba(255, 255, 255, 0.4); */
    /* padding-left: 12px; */
    /* font-size: 22px; */
    /* text-transform: uppercase; */
    /* padding-bottom: 5px; */
    /* letter-spacing: 2px; */
    /* display: inline-block; */
    /* font-weight: 100; */
    /* padding-left: 0px; */
    /* margin-left: 20px; */
    border-bottom: 2px solid #fd003ab0;
    padding-left: 12px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100;
    margin-left: 20px;
}
a.sign-in-title-btn1 {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
.sign-up-email, .sign-up-password, .sign-up-password-conformation {
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.7;
    display: inline-block;
    position: relative;
    top: -65px;
    transition: all 0.5s ease-in-out;
}
.email, .password, .password-conformation {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: inline-block;
    padding-top: 13px;
    font-size: 14px;
    position: relative;
    top: -70px;
}
.sign-up-title, .sign-up-email, .sign-up-password, .sign-up-password-conformation {
    margin-left: 20px;
}
input.sign-up-btn {
    background-color: #fd003ab0;
    color: #FFF;
    width: 100%;
    padding: 10px 20px;
    display: block;
    height: 39px;
    border-radius: 20px;
    margin-top: -30px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;
}
.sign-up-btn:hover {
    background: #fd003ab0;
    box-shadow: 0px 4px 35px -5px #fd003ab0;
    cursor: pointer;
}
input.sign-up-btn {
    outline: none;
}
.checkbox {
    margin-left: 20px;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    top: -50px;
}
.checkbox:checked {
    background-color: rgb(237, 17, 17);
}
.checkbox:checked:after {
  content: '\2714';
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}
.checkbox:focus {
  outline: none;
}
label.checkbox-name {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    position: relative;
    top: -49px;
}
.user-content {
    border-bottom: 1px dotted #bbb;
    margin-bottom: 40px;
}
.user-page {
    margin-bottom: 40px;
}
h1.user-page-title {
    color: #777;
    font-size: 14px;
    height: 14px;
    font-family: serif;
    margin-top: -20px;
}
p.user-edit-space {
    float: right;
    margin-top: -15px;
}
a.user-edit-btn {
    text-decoration: none;
    // color: white;
    // background: lightgreen;
    padding: 3px 10px;
    border-radius: 4px;
    font-family: serif;
    text-align: center;
    color: #92ecad;
    border: 2px solid #92ecad;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    display: block;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: #92ecad;
    color: #fff;
    border-bottom: 4px solid darken(#92ecad, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
.user-image-space {
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0;
}
.user-image {
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.user-items {
    display: flex;
    align-items: center;
}
p.force {
    font-family: serif;
    border: 1px solid #4a3d3d6e;
    padding: 5px;
    margin-top: 20px;
}
.user-information {
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.user-wpcf7{
    padding: 40px 20px;
    line-height: 22px;
    background: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.error-form {
    display: flex;
    justify-content: center;
    margin-top: -60px;
}
h3.error {
    font-family: serif;
    color: red;
}
ul.error-point {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}
p.message {
    font-family: serif;
}
.name {
    font-family: serif;
    letter-spacing: 2px;
}
.from {
    font-family: serif;
    letter-spacing: 2px;
}
.age {
    font-family: serif;
    letter-spacing: 2px;
}
.name-space{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.name-area{
//   width: 60%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.name-logo{
  font-family: serif;
  margin-bottom: 8px;
}
.from-space{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.from-area{
//   width: 60%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.from-logo{
  font-family: serif;
  margin-bottom: 8px;
}
.age-space{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.age-area{
//   width: 60%;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.age-logo{
  font-family: serif;
  margin-bottom: 8px;
}
.user-send{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.user-send-buttom{
  font-family: serif;
  // color: white;
  // background-color: blue;
  width: 200px;
  border-radius: 5px;
   text-align: center;
    color: #2194E0;
    border: 2px solid #2194E0;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    display: block;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: #2194E0;
    color: #fff;
    border-bottom: 4px solid darken(#2194E0, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}
p.spot-nil {
    font-family: serif;
    /* text-align: center; */
}
div#error_explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    position: relative;
    top: -200px;
}
div#error_explanation h2{
    color: red;
    text-align: center;
}
div#error_explanation ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#error_explanation ul li {
    color: #100b0bd9;
}